<!-- login form -->
<div class="body">
  <div>
    <form [formGroup]="user">
      <div class="form-fields">
        <p>EMAIL</p>
        <input
          type="email"
          placeholder="johndoe@gmail.com"
          formControlName="email"
        />
      </div>

      <div class="form-fields">
        <p>PASSWORD</p>
        <input
          type="password"
          placeholder="John@123"
          formControlName="password"
        />
      </div>

      <div class="btn-primary">
        <button (click)="login()">
          LOGIN
        </button>
      </div>
    </form>
  </div>
</div>
